* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

.grid-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}

.head {
    background-color: #737ABF;
    display: flex;
    justify-content: space-between;
    grid-area: header;
    height: 85px;
}

.left-content {
    padding: 20px;
}

.appName {
    font-size: 25px;
    padding-left: 10px;
}

.appName,
.myName,
.alert-banner {
    color: #fff;
}

.right-content {
    padding: 5px 15px;
}

.contentStuff {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bell {
    height: 30px;
    width: 30px;
    margin-top: 15px;
    transition: transform 1s;
    
}
.bell:hover {
    transform: rotate(45deg);
}
.greenDot {
    max-height: 10px;
    max-width: 10px;
    margin-bottom: 26px;
}
.selfie {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid white;
    margin-top: 4px;
    width: 60px;
    height: 50px;
}

.myName {
    font-size: 15px;
    text-align: right;
    margin: 0;
}

.navIcons {
    fill: #fff;
    background-color: #4d4c72;
    display: flex;
    flex-direction: row;
    grid-area: navigation;
    padding: 25px 10px 15px 1px;
    margin: 0;
    height: 85px;
    justify-content: space-evenly;
}

.navIcons img {
    height: 35px;
    width: 35px;
}

.dashboardIcon {
    fill: #fff;
}

.dbBorder {
    padding-bottom: 10px;
    border-bottom: 2px solid lightgreen;
}

.main {
    grid-area: main;
    display: grid;
}

.main-header {
    display: flex;
    align-items: baseline;
    background-color: lightgrey;
}

.dashboard {
    padding-right: 80px;
    padding-left: 15px;
    width: 150px;
    margin-right: 10px;
    background-color: #fff;
}

.dashboard h2 {
    margin-top: 25px;
}

.dashSearch {
    border: solid #f6f6f6 2.5px;
    margin-left: 15px;
    border-radius: 5px;
}

#searchBox {
    background-image: url(../images/search-icon.jpg);
    background-repeat: no-repeat;
    background-size: 7%;
    background-position: right;
}

input {
    font-size: 15px;
}

.alert-banner {
    background-color: #737ABF;
    display: inline-flex;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

.alert-banner p {
    padding-left: 6px;
    padding-right: 3.5px;
}

.traffic-nav {
    display: flex;
    justify-content: center;
}

.traffic-nav li {
    display: inline-block;
    padding-right: 10px;
    font-size: 15px;
    font-weight: bold;
}

.active {
    background-color: #90cf9c;
    border-radius: 5px;
    color: #fff;
}

section h3,
.stat-headline {
    padding-left: 15px;
}

.line-graph-container,
.bar-graph-container,
.donut-graph-container {
    width: 95vw;
}

.mobile-users {
    padding-bottom: 20px;
}

.social-container {
    display: flex;
    flex-direction: column;
}

.twitter-image,
.facebook-image,
.google-plus {
    width: 100px;
    background-color: #7377bf;
    border-radius: 50%;
    margin-left: 25px;
}

.twitter-image {
    padding: 15px;
}

.netwrkTitle {
    color: #7377bf;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.social-text {
    text-align: center;
    padding-left: 40px;
}

.social-text p {
    font-size: 40px;
    margin: 0;
}

.social-text h4 {
    text-align: left;
}

.social-flex-container {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.mobile-users,
.social-container,
.new-members,
.recent-activity,
.message {
    border-bottom: .5px solid grey;
}

.new-members,
.recent-activity {
    display: flex;
    flex-direction: column;
}

.new-members img,
.recent-activity img {
    border-radius: 50%;
}

.members-text {
    padding-left: 15px;
    text-align: left;
}

.new-members img {
    padding-bottom: 15px;
}

.members-text a {
    text-decoration: none;
    color: #886ccc;
    font-size: 11px;
}

.members-text p:nth-of-type(2) {
    font-size: 13px;
}

.dale,
.dawn,
.dan {
    display: flex;
    align-items: center;
}

.members-container {
    display: flex;
    align-items: center;
}

.recent-activity img {
    padding-bottom: 15px;
}

.members-activity {
    width: 80%;
    text-align: center;
    margin-top: 30px;
    padding-right: 13px;
}

.arrow {
    color: #babcdf;
    font-size: 30px;
}

.button-primary {
    background-color: #7377bf;
    color: #fff;
    width: 80vw;
}

.button-disabled {
    background-color: #b2b2b2;
    color: #fff;
    width: 80vw;
}

.user-search,
.message-area,
.select-timezone {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f6f6f6;
    padding-left: 10px;
    margin-bottom: 15px;
}

.user-search {
    width: 55%;
}

.widget-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#send {
    margin-bottom: 15px;
}

.settings-button {
    display: flex;
    flex-flow: column wrap;
}

.switch-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#first-toggle,
#second-toggle {
    margin-bottom: 30px;
    align-self: center;
}

.settings-button span {
    width: 40vw;
}

.switch-candy a {
    background-color: #7377bf;
}

.switch-light.switch-candy > span {
    color: #000;
}

.switch-light.switch-candy,
.switch-light.switch-candy > span {
    background-color: #fff;
}

.select-timezone,
#save,
#cancel {
    margin: 0 auto;
}

#save {
    margin-top: 15px;
}

#cancel {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-areas: 
        "header header"
        "navigation main";
    }
    
    .head {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .dbBorder {
        border-bottom: none;
        padding-bottom: 0;
        border-left: 2px solid lightgreen;
        margin-left: -24px;
    }

    .dashSearch {
        margin-left: 200px;
    }

    .dashboardIcon {
        margin-left: 20px;
    }

    .navIcons {
        flex-direction: column;
        justify-content: flex-start;
        width: 85px;
        padding-left: 25px;
        height: 100%;
    }

    .navIcons li {
        margin-bottom: 30px;
    }

    .main {
        grid-template-columns: 50%;
    }

    .traffic {
        border-bottom: .5px solid grey;
    }

    .traffic-nav {
        padding-right: 0;
    }

    .main-header {
        width: 100vw;
    }

    #searchBox {
        width: 270px;
    }

    .alert-banner {
        margin-left: 20px;
        width: 80vw;
    }

    .daily {
        border-bottom: .5px solid grey;
    }

    .membersAndActivity {
        margin: auto;
        display: flex;
    }

    .new-members {
        border-right: .5px solid grey;
        margin-left: 20px;
        padding-right: 35px;
    }

    .recent-activity {
        margin-left: 20px;
    }

    .members-activity {
        text-align: unset;
        width: 100%;
        margin-left: 20px;
        padding-right: 0;
    }

    /* Grid Column Rules */
    .traffic,
    .social-container,
    .main-header,
    .alert,
    .mobile-users,
    .daily {
        grid-column: 1 / span 1;
     }
     
	 .messageAndSettings {
		 display: flex;
		 flex-direction: column;
     }
     
    .members,
    .message,
    .settings {
        grid-column: 1 / span 1;
    }

    .recent-activity {
        grid-column: 2 / span 1;
    }

    /* Graph Rules */

    .bar-graph-container,
    .donut-graph-container {
        width: 45vw;
        margin: auto;
    }

    .small-chart-group,
    .social-container {
        width: 100vw;
    }

    .daily,
    .mobile-users {
        display: inline-block;
    }

    .daily,
    .message {
        border-right: .5px solid grey;
        }

    .social-container {
        height: 500px;
    }

    .social-flex-container {
        padding-top: 25px;
        padding-bottom: 0;
    }

    .members-text p:nth-of-type(2) {
        text-align: right;
    }

    .widget-container {
        margin: auto;
    }

    #save {
        width: 55vw;
        height: 30px;
    }

    #cancel {
        width: 55vw;
    }

    .settings-button {
        margin: auto;
    }
}

@media (min-width: 1024px) {

    .right-content {
        padding: 10px 45px;
    }

    .appName {
        padding-right: 670px;
    }

    .main-header,
    .social-container {
        width: 92vw;
    }

    .dashSearch {
        margin-left: 450px;
    }

    .traffic {
        width: 93vw;
    }

    .traffic-nav {
        padding-left: 500px;
    }

    .small-chart-group {
        display: flex;
        width: 100vw;
    }

    .mobile-users,
    .settings {
        width: 45vw;
        grid-column: 2 / span 1;
    }

    .stat-headline {
        align-self: auto;
    }

    .social-container {
        flex-direction: row;
        height: 250px;
    }

    .grid-container {
        grid-template-columns: 2fr;
    }

    .social-flex-container {
        margin-left: 0;
        padding-top: 0;
    }

    #twitter {
        margin-left: -100px;
    }

    #facebook,
    #googlePlus {
        margin-left: 30px;
    }

    .twitter-image {
        margin-left: 0;
    }

    .bar-graph-container,
    .donut-graph-container,
    .new-members,
    .recent-activity,
    .message {
        width: 45vw;
    }

    .brder {
        border-bottom: .5px solid grey;
        padding-top: 10px;
    }

    .members-activity {
        font-size: 12px;
        width: 65%;
    }

    .members-activity p {
        margin: 0;
    }

    .arrow {
        text-align: right;
    }

    .messageAndSettings {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    #send,
    .user-search,
    .message-area {
        width: 35vw;
    }

    .message {
        border-bottom: none;
    }

    .user-search {
        height: 35px;
    }

    .message-area {
        height: 70px;
    }

    #save,
    #cancel {
        width: 20vw;
     }

     label strong {
        text-align: left;
    }
	 } /* closing MQ tag */